.btn-biger {
    font-size: 17px;
    margin: 10px;
}

.social-up span {
    display: block;
}

header .social-icons ul li a i {
    padding-right: 10px;
}

header .social-icons {
    margin: 20px auto;
}

header .top-head-info {
    padding-top: 20px;
}

.form-group label {
    width: 75px;
    display: inline-block;
    float: left;
}

.form-group input {
    height: 30px;
    width: 220px;
    margin-bottom: 10px;
    padding: 8px;
}

.form-group.addImage  input{
    margin-top: 10px;
    padding: 0;
}

.form-group textarea{
    padding: 8px;
    width: 300px;
}

select {
    margin-bottom: 10px;
}

.form-group.addCategory  input, .form-group.addCategory input{
    height: 40px;
}

ul {
    padding-left: 17px;
}

h3 {
    margin: 0;
}

